ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #4de24d;
}

.spacer {
  flex: 1 1 auto;
}

.username {
  text-decoration: underline;
  text-transform: uppercase;
}

.add-btn {
  position: absolute;
  top: 25%;
  right: 2%;
  display: block;
}
