mat-form-field,
textarea {
  width: 100%;
}

mat-card {
  /* background: rgb(41, 43, 47); */
  font-size: 1.2rem;
}

button {
  margin-top: 0.8rem;
}

label {
  /* color: #cecece; */
  color: #747171;
}

input[type="file"] {
  visibility: hidden;
  display: none;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
  text-align: center;
}

.image-preview img {
  height: 100%;
}
