/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  width: 95%;
  margin: auto;
}

@media (min-width: 779px) {
  main {
    width: 80%;
  }
}

*:focus {
  outline: 3px solid orange !important;
}
